<div class="top">
<%= render 'books/sidebar', book: @book %>
                <h1>Users</h1>
                <table>
				    <thead>
					    <tr>
						    <th>image</th>
						    <th>name</th>
						    <th></th>
					    </tr>
				    </thead>
				    <% @users.each do |user| %>
				        <tbody>
					        <tr class="list-back">
						        <td class="list"><%= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %></td>
						        <td class="list">
							        <%= user.name %>
						        </td>
						        <td class="list">
						        	<%= link_to "Show", user_path(user) ,class: "list-aitem" %>
						        </td>
					        </tr>
				        </tbody>
				    <% end %>
			    </table>
            </div>
        </div>
    </div>
</div>