/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

 *{
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }
 a {
 	color: #6c6b6b;
 }
//  a:hover{

// }
.flash{
	color: green;
}
.header{
	width: 100%;
	background-color: #222;
	color: white;
	margin-bottom: 10px;
	padding-bottom: 50px
}
.header-box{
	width: 1100px;
	margin: 0 auto;
}
.header-title{
	font-size: 20px;
	float: left;
	color: white;
}
.header-list{
	color: white;
	float: right;
	margin-top: 15px;
	text-decoration: none;
}
.aitem:hover{
	color:white;
	text-decoration: none;
}
.header-aitem{
	margin: 0 20px;
	float: left;
	list-style: none;
}
.header-aitem-a{
	display: inline;
}
footer{
	margin-top: 20px;
	margin-left: 1350px;
	display: block;

}
.top{
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
}
.top-box{
	margin-left: 150px;

}
.w-500px{
	width: 500px !important;
	margin-left: 30px;
	color: #6c6b6b
}
.btn-block + .btn-block{
	margin-top: 0;
}
.field{
	margin: 10px 0;
}
.w-80px{
	width: 80px !important;
}
.img-box{
	margin-bottom: 10px;
}
.list{
	position: relative;
	width: 300px;
	padding: 8px 20px 8px 0;
	border-top: 1px solid #ddd;
}
.list-imag{
	position: relative;
	width: 130px;
	padding: 8px 20px 8px 0;
	border-top: 1px solid #ddd;
}
td{
	text-align: left;
}
.list-back:hover{
	background-color:#EEEEEE;
	text-decoration: none;
}
.list-aitem:hover{
	background-color:#000000;
}
.border{
	border: 1px solid #ddd;
}
.w-100{
	width: 100% !important;
}
.name{
	display: block;
}
.title{
	border-bottom: 2px solid #ddd;
	padding-bottom: 5px;
}
.show-book{
	display: block;
}
.show-book-list{
	vertical-align: top;
}
.show-book-edit{
	margin-right: 50px;
}
.show-book-destroy{
	color: #555555;
	background-color: #CC0000;
}
.action{
	float: left;
	margin: 0 3px;
	font-size: 13px;
}
.edit-wid{
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}
.edit-box{
	margin: 10px 0;
}
.error{
	font-size: 13px;
	color: red;
}
.error-box{
	padding-left: 70px;
}




