/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

 *{
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }

body{
	padding-top: 60px;
}
.flash{
	color: green;
}
.header-title{
	font-size: 20px;
	float: left;
	color: white;
}
.header-list{
	color: white;
	float: right;
	margin-top: 15px;
	text-decoration: none;
}
.aitem{
	color: #6c6b6b;
}
.aitem:hover{
	color:white;
	text-decoration: none;
}
.header-aitem{
	margin: 0 20px;
	float: left;
	list-style: none;
}
.header-aitem-a{
	display: inline;
}
.container{
	margin: 0 auto;
    padding: 0 15px;
}

.w-500px{
	width: 500px !important;
	margin-left: 30px;
	color: #6c6b6b
}
.btn-block + .btn-block{
	margin-top: 0;
}
.field{
	margin: 10px 0;
}
.w-80px{
	width: 80px !important;
}
.img-box{
	margin-bottom: 10px;
}
.list-imag{
	padding: 8px 20px 8px 0;
	border-top: 1px solid #ddd;
}
td{
	text-align: left;
}
.list-aitem:hover{
	background-color:#000000;
	color: #337ab7;
}
.border{
	border: 1px solid #ddd;
}
.w-100{
	width: 100% !important;
}
.new-title{
	padding-left: 15px;
}
.name{
	display: block;
}
th{
	position: relative;
	width: 300px;
	border-bottom: 2px solid #ddd;
	padding-bottom: 5px;
}
.show-book{
	display: block;
}
.show-book-list{
	vertical-align: top;
}
.show-book-edit{
	color: #555555;
	background-color: #5cb85c;

}
.show-book-destroy{
	color: #555555;
	background-color: #CC0000;
}
.action{
	float: left;
	margin: 10px 3px;
	font-size: 13px;
}
.edit-box{
	margin: 10px 0;
}
.error{
	font-size: 13px;
	color: red;
}
.error-box{
	padding-left: 70px;
}
.edit-submit{
	margin-left: 13px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}